* {
	box-sizing: border-box;
}

html {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2d2d2d;
	overflow-y: scroll;
}

body {
	flex: 1 1 auto;
	min-width: 0;
}

html, button, input, select, textarea {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	max-width: 1160px;
	margin: 0 auto;
}

.home-menu {
	background: inherit;
	height: 3.375em;
}

.home-menu > ul {
	list-style: none;
	padding: 0;
}

.home-menu ul, .home-menu li {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	margin: 0;
}
.home-menu li {
	padding: 0 20px;
}

.home-menu > a.menu-heading {
	color: white;
	font-size: 1.5em;
	line-height: 2.25em;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	padding: 0 20px;
}

.home-menu > ul > li > a {
	color: #ced4d9;
	line-height: 3.375em;
	text-decoration: none;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li > a:focus{
	background: inherit;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li.menu-selected > a{
	color: white;
}

main {
	background-color: #ebf4fa;
	overflow: auto;
}

footer{
	text-align: center;
	color: #b3b3b3;
	text-decoration: none;
	font-size: 0.8em;
	padding: 15px;
	line-height: 24px;
}

footer a{
	color: #fff;
	text-decoration: none;
}

footer iframe{
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}

table thead {
	background: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

table td, table th {
	border-left: 1px solid #cbcbcb;
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: 6px 12px;
}

table td:first-child, table th:first-child {
	border-left: 0;
}

table td {
	background-color: transparent;
}

table tr.odd td {
	background-color: #f2f2f2;
}

.chartHolder {
	overflow-x: auto;
	border: 1px solid #cbcbcb;
}

#adminPage passwordForm, #adminCenter{
	display: none;
}
#adminPage adminCenter{
	display: flex;
	flex-flow: row;
}
#adminPage leftMenu{
	flex: 0 0 200px;
}
#adminPage editForm{
	flex: 1 1 auto;
}

#apiDocs {
	padding: 18px;
}

#gettingStartedPage #holder{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

#gettingStartedPage #menu{
	background-color: #3d3d3d;
	min-width: 170px;
}

#gettingStartedPage #menu > .menuHeader{
	color: #e3f7ff;
	border-bottom: 1px solid #7f878b;
	font-size: 1.2em;
	padding: 16px 16px 4px 15px;
}

@keyframes glow {
	0% {
		box-shadow: none;
	}
	50% {
		box-shadow: inset 0 0 12px 4px #ff6c00;
	}
	100% {
		box-shadow: none;
	}
}

#gettingStartedPage .menuList {
	outline: none;
}

#gettingStartedPage .menuList:focus{
	animation-name: glow;
	animation-duration: .4s;
}

#gettingStartedPage .menuList > span:first-child {
	margin-top: 10px;
}

#gettingStartedPage .menuList > span {
	display: block;
	color: #e3f7ff;
	text-decoration: none;
	padding: 7px;
	padding-left: 25px;
	text-transform: capitalize;
	cursor: pointer;
}

#gettingStartedPage .menuList > span:hover{
	color: #f69b3a;
}

#gettingStartedPage #main {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	margin: 18px;
}
#gettingStartedPage .miningOption{
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #b064e1;
	min-height: 215px;
	text-decoration: none;
	cursor: pointer
}

#gettingStartedPage span.miningOption:hover{
	color: #f69b3a;
}

#gettingStartedPage .miningOptionInstructions > div:first-child{
	font-size: 2.4em;
}
#gettingStartedPage .miningOptionInstructions > div:last-child{
	margin-top: 20px;
	font-size: 1.3em;
}

#gettingStartedPage #orHolder{
	height: 37px;
	text-align: center;
}
#gettingStartedPage #orLine{
	border-bottom: 1px solid #c2cacf;
	height: 19px;
	margin-bottom: -13px;
}
#gettingStartedPage #orText{
	background-color: #ebf4fa;
	color: #5c5c5c;
	display: inline-block;
	width: 35px;
	font-style: italic;
}

#gettingStartedPage .coinInfoBackground {
	transition: opacity 400ms;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0;
}
#gettingStartedPage amp-lightbox:not([style*="display"]) .coinInfoBackground {
	opacity: .7;
}
#gettingStartedPage .coinInfo{
	display: flex;
	flex-direction: column;
	color: white;
	width: 750px;
	max-width: 90%;
	min-height: 400px;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	background-color: #f06350;
}
#gettingStartedPage .coinInfo .coinInfoName{
	text-transform: capitalize;
}
#gettingStartedPage .coinInfo > div:first-of-type{
	font-size: 1.8em;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 35px;
}
#gettingStartedPage .coinInfoRows{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1 1 auto;
	margin-bottom: 70px;
}
#gettingStartedPage .coinInfoRows > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#gettingStartedPage .coinInfoRows > div > div{
	padding: 3px;
}
#gettingStartedPage .coinInfoRowKeys{
	font-weight: bold;
}
#gettingStartedPage .coinInfoRowKeys .coinInfoSubtle{
	font-weight: normal;
}
#gettingStartedPage .coinInfoRowValues{

}
#gettingStartedPage .coinInfoClose{
	position: absolute;
	font-size: 3em;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
#gettingStartedPage .coinInfoClose:hover{
	color: #50f0e3;
}
#gettingStartedPage .poolOption {
	line-height: 32px;
}
#gettingStartedPage .poolOption img {
	height: 32px;
	vertical-align: bottom;
}

#homePage #boxWelcome{
	display: flex;
	flex-wrap: wrap;
	background-color: #0eafc7;
	color: white;
	margin: 18px;
}
#homePage #logoImg {
	width: 33%;
	max-width: 360px;
}
#homePage #logoImg amp-img {
	margin: 55px;
}
#homePage #welcomeText{
	font-size: 2.7em;
	margin: 50px 18px 10px 18px;
}
#homePage #welcomeItems{
	list-style-type: none;
	font-size: 1.3em;
	padding: 0;
	margin: 0 0 0 18px;
}
#homePage #welcomeItems > li{
	margin: 30px;
}
#homePage #boxesLower {
	display: flex;
	flex-wrap: wrap;
	margin: 0 9px;
}
#homePage #boxesLower > div {
	display: flex;
	width: 50%;
}
#homePage #boxesLower > div > div {
	flex: 1 1 auto;
	margin: 0 9px 18px 9px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
#homePage .boxLowerHeader{
	font-size: 1.3em;
	margin: 0 0 5px 10px;
}

#homePage #boxStatsLeft{
	background-color: #b064e1;
}
#homePage #boxStatsRight{
	background-color: #10bb9c;
}
#homePage .boxStats{
	color: white;
}
#homePage .boxStatsList{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	opacity: 0.77;
	margin-bottom: 5px;
	flex: 1 1 auto;
	align-content: center;
}
#homePage .boxStatsList i.fa{
	height: 15px;
	width: 33px;
	text-align: center;
}
#homePage .boxStatsList > div{
	padding: 5px 20px;
}
#homePage .boxStatsList > div > div{
	padding: 3px;
}
#miningKeyPage{
	margin: 15px;
}
#miningKeyPage #keyFrame{
	padding: 0;
	border: 0;
	width: 100%;
	height: 750px;
	display: block;
}
#chartsPage #topCharts,#statsPage #topCharts,#workersPage #topCharts{
	padding: 18px;
}

#chartsPage #topCharts > div > div > svg,#statsPage #topCharts > div > div > svg,#workersPage #topCharts > div > div > svg{
	display: block;
	height: 280px;
}

#chartsPage .chartWrapper,#statsPage .chartWrapper,#workersPage .chartWrapper{
	border: solid 1px #c7c7c7;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 18px;
}

#chartsPage .chartLabel,#statsPage .chartLabel,#workersPage .chartLabel{
	font-size: 1.2em;
	text-align: center;
	padding: 4px;
	line-height: 32px;
}

#workersPage .chartLabel img {
	height: 32px;
	vertical-align: bottom;
}

#statsPage table, #workersPage table {
	width: 100%;
}

#statsPage td {
	vertical-align: middle;
	line-height: 32px;
}

#statsPage td > img {
	height: 32px;
	vertical-align: bottom;
}

#mainPage-chat {
	overflow: hidden;
}

#chatPage #holder{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

#chatPage #widget {
	background-color: #2d2d2d;
	max-height: 500px;
}

#chatPage #main {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	margin: 18px;
	max-height: 464px;
}

#chatPage .notice {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #10bb9c;
	min-height: 215px;
	text-decoration: none;
}

#chatPage .noticeText > div:first-child{
	font-size: 2.4em;
}

#chatPage .noticeText > div:last-child{
	margin-top: 20px;
	font-size: 1.3em;
}

[hidden] {
	display: none
}

amp-img {
	vertical-align: bottom
}
amp-sidebar {
	padding: 10px;
}
.hamburger {
	color: #ced4d9;
	float: right;
	padding: 0 20px;
	line-height: 3.375em;
	cursor: pointer;
}	  
.sidebar {
	padding: 20px;
	margin: 0;
}
.sidebar > li {
	list-style: none;
	margin-bottom: 10px;
}
.sidebar a, .sidebar a:visited {
	color: inherit;
	text-decoration: none;
}
.close-sidebar {
	font-size: 1.5em;
	padding-left: 5px;
	cursor: pointer;
}
.loader {
	font-size: 3em;
	text-align: center;
	padding: 20px;
}

header > .home-menu > ul {
	display: none;
}

@media (min-width: 1161px) {
	header > .home-menu > ul {
		display: inline-block;
	}
	amp-sidebar, .hamburger {
		display: none;
	}
}

@media (max-width: 862px) {
	#gettingStartedPage #menu, #gettingStartedPage #main {
		width: 100%;
	}
}

@media (max-width: 767px) {
	#homePage #logoImg, #home #welcomeText, #homePage #boxesLower > div {
		margin: auto;
		width: 100%;
	}
	#homePage #welcomeText {
		margin-top: 0;
		text-align: center;
	}
	#homePage #welcomeItems {
		text-align: center;
		margin: 0;
	}
}

@media (max-width: 700px) {
	#gettingStartedPage span.miningOption, #chatPage .notice {
		text-align: center;
		padding: 10px;
	}

	#gettingStartedPage .miningOptionInstructions > div:first-child, #chatPage .noticeText > div:first-child {
		font-size: 2em;
	}
	#gettingStartedPage .miningOptionInstructions > div:last-child, #chatPage .noticeText > div:last-child {
		font-size: 1.1em;
	}
	#chatPage #widget {
		width: 100%;
		text-align: center;
	}
}
